/* <style>
    .attribution { font-size: 11px; text-align: center;}
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
.left{
    display:flex;
    position: relative;

}
  .purple-section{
    position: absolute;
    height: 90vh;
    width: 30rem;
    background-color: #b33eff;
   border-end-end-radius: 15rem;
   border-end-start-radius:15rem;
   
  }
.mobile{
    position: absolute;
    height: 30rem;
    width: 14rem;
    background-color:hsl(270, 20%, 96%);
    margin-top: 5rem;
    margin-left: 27rem;
    border-radius: 2rem;
    border: 0.7rem solid #ffffff;
    box-shadow: 7px 5px 10px 3px rgba(0, 0, 0, 0.2);
    
}

.camera-div{
    position: absolute;
    height: 1.5rem;
    margin-left: 2.4rem;
    width: 9rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-color: #ffffff;;
}
.mobile-heading-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    height: 4rem;
    background-color: #b33eff;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

br{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background: transparent;
    color: #ffffff;
}

.mobile-head-bracketopen{
    color:white;
    font-weight: 200;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 0.6rem;
}

.profile-photo{
    height: 1.4rem;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 0.8rem;
}

.mobile-head-name-div{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.mobile-head-timing{
    font-size: 0.5rem;
    color:rgb(222,206,226);
}

.menu-bar {
    
    height: 0.6rem;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-right: 0.9rem;
  }

  .dot {
    width: 3px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
  }

  .div-name-timing{
    margin-right: 3rem;
  }

  /* chat sec started */

  .right-images{
    display: flex;
    margin-left: 35%;
    gap: 0.3rem;
    margin-bottom: 0.4rem;
  }
  .dog-img{
    height: 2.5rem;
    border-radius: 1rem;
  }

  .left-chat,.right-chat{
    border-radius: 1rem;
    font-family: rubic,sans-serif;
    font-size: 0.7rem;
    padding: 0.3rem;
  }
  .left-chat{
    background-color:#ede5f3;
    color: blueviolet;
    margin-right: 40%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .right-chat{
    background-color: #ffffff;
    color: hsl(240, 3%, 57%);
    margin-left: 40%;
    margin-bottom: 0.5rem;
  }

  .left-chat-amount{
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin-right: 20%;
    background-color:#c340ff;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0.1rem;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    color: white;
  }

  .bold-amt{
    font-family:rubic,sans-serif;
    font-size: 0.8rem;
    font-weight:800;
    margin-left: 1.5rem;
  }
.amt-extra-margin{
    margin-left: 2.7rem;
}
  .round-left-chat-amt{
    height: 0.6rem;
    width: 0.6rem;
    background-color: transparent;
    border-radius: 50%;
    border: 1px dotted white;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }

  input{
    border: none;
    padding: 0.2rem;
    background-color: transparent;
  }
  input::placeholder{
    color: silver;
  }
  input:focus{
    outline: none;
  }
.input-and-sendbtn-div{  
    display: flex;
    justify-content: space-between;
    background-color: #ffffffff;
    border-radius: 1rem;
    margin: 0.2rem;
    margin-top: 1rem;
}
  .button{
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    background-color: hsl(271, 36%, 24%);
    font-weight: 700;
  }